/**
 * Place your custom styles here.
 */

ul.inline li { 
    display: inline-block; 
    margin: 0; 
    padding: 10px 5px; 
    zoom: 1; 
    *display: inline; 
}

nav ul li a {
	color: #04659D;
}

nav > ul > li:nth-child(1) > a {
	text-decoration: none;
	color: black;
}

.aside1, .aside2 {
    margin-top: 20px;
}